body {
  height: 100vh;
  background-color: black;
}

.prueba {
  width: 100vw;
  height: 100%;
}
.notResultSearch {
  margin-right: 60px;
}
.form-search {
  margin-left: 1000px;
}
.link-search {
  text-decoration: none;
  color: beige;
}
.link-search:hover {
  color: beige;
}
.inputSearch {
  min-width: 200px;
}
.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 2rem;
  height: 1rem;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(238, 231, 234, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  position: relative;
  max-width: 290px;
  padding-top: 80px;
  margin-bottom: 10px;
  margin-left: 470px;
}

/* card invisible */

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: -200px;
  background-color: rgba(4, 4, 4, 0.468);
  transition: 0.4s;
}
.moviCard:hover .infoCard {
  bottom: 0;
  height: 100%;
}
.infoCardText {
  font-size: 20px;
  font-weight: 400px;
}

.container {
  display: flex;
  flex-basis: 33.33%;
  justify-content: center;
}

/* Button add to list  */
.icon-btn {
  width: 50px;
  height: 50px;
  top: 40%;
  left: 33%;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 50px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 0;
  border-radius: 0;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/*Button triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 56%;
  top: 90%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.moviCard {
  overflow: hidden;
  position: relative;
}
